<div class="container">
    <img src="../../../assets/project-1.jpg" alt="project1-img" width="300px" class="img-thumbnail">
    <h4>SOLDIER INFORMATION TRACKING SYSTEM</h4>
    <p>&nbsp;&nbsp;&nbsp;This application is designed to keep track all information of a soldier right from his birth,
        the
        information can be maintained and updated in an centralized location and it can access globally.</p>
</div>
<div class="container-2">
    <h5 class="project-2">STEGANOGRAPHY USING IMAGES AND CRYPTOGRPHY TOOLS</h5>
    <img src="../../../assets/project-2.jpg" alt="project2-img" width="300px" class="img-thumbnail">
    <p>&nbsp;&nbsp;&nbsp;The advantages of Steganography is that it can be used to secretly transmit messages without
        the fact
        of
        the transmission being discovered, Used the LSB(Least Significant Bit) Algorithm in this project for
        developing the application which is faster and reliable and compression ratio moderate compared to
        other algorithms.
    </p>

</div>