<div class="container">
    <strong>ABOUT</strong>
    <span>&nbsp;&nbsp;&nbsp;I'm a fresher in web development. I have a strong
        foundation in programming languages such as HTML, CSS, and JavaScript. I'm
        also familiar with popular web development frameworks like
        Angular, and I'm always eager to learn more. <br /><br />
        <a href="https://drive.google.com/file/d/16R3RoqGOzjWhDnX-I408FyfkOSoo-bkw/view?usp=sharing"
            target="_blank">Checkout my resume</a></span>
    <h3>Hi! I'm Vaishnav Shegale</h3>
    <span><i class="fa fa-linkedin-square" aria-hidden="true"></i> </span>
    <img src="../../../assets/profile.png" alt="about-img" width="300px" class="img-thumbnail" />
</div>