<div class="container">
    <img src="../../../assets/profile.png" alt="icon" width="50px" class="rounded-circle" routerLink="home">
    <strong routerLink="home">VAISHNAV SHEGALE</strong>
    <div class="header">
        <button type="button" routerLinkActive="active" class="btn btn-outlet m-1" routerLink="home">HOME</button>
        <button type="button" routerLinkActive="active" class="btn btn-outlet m-1" routerLink="about">ABOUT
            ME</button>
        <button type="button" routerLinkActive="active" class="btn btn-outlet m-1"
            routerLink="projects">PROJECTS</button>
        <button type="button" routerLinkActive="active" class="btn btn-outlet m-1" routerLink="skills">SKILLS</button>
        <button type="button" routerLinkActive="active" class="btn btn-outlet m-1" routerLink="contact">CONTACT
            ME</button>

    </div>
</div>