#skill-section {
    width: 100%;
    height: auto;
    padding: 80px 13%;
    color: white;
}

.header {
    width: 100%;
    margin-bottom: 70px;
    font-size: larger;
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 25px;
}

.skill-main .skill-bar .info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.skill-bar .info .percent {
    font-weight: bold;
}

.skill-bar .bar {
    width: 100%;
    height: 8px;
    position: relative;
    background-color: #bfb8b8f2;
    border-radius: 20px;
    margin-top: 5px;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    background-color: #e74d06;
    position: absolute;
    border-radius: 20px;
}

.skill-bar .bar .html {
    width: 90%;
    animation: html 3s;

}

@keyframes html {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

.skill-bar .bar .css {
    width: 85%;
    animation: css 3s;

}

@keyframes css {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }

}

.skill-bar .bar .bootstrap {
    width: 70%;
    animation: bootstrap 3s;

}

@keyframes bootstrap {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }

}

.skill-bar .bar .javascript {
    width: 85%;
    animation: js 3s;

}

@keyframes js {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }

}

.skill-bar .bar .jquery {
    width: 60%;
    animation: jquery 3s;

}

@keyframes jquery {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }

}

.skill-bar .bar .typescript {
    width: 75%;
    animation: ts 3s;

}

@keyframes ts {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }

}

.skill-bar .bar .angular {
    width: 95%;
    animation: angular 3s;

}

@keyframes angular {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }

}

.skill-bar .bar .mongoDB {
    width: 88%;
    animation: mongodb 3s;

}

@keyframes mongodb {
    0% {
        width: 0;
    }

    100% {
        width: 88%;
    }

}

.skill-bar .bar .nodejs {
    width: 90%;
    animation: nodejs 3s;

}

@keyframes nodejs {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }

}
.skill-bar .bar .expressjs {
    width: 75%;
    animation: expressjs 3s;

}

@keyframes expressjs {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }

}