<section id="skill-section">
    <div class="header">&nbsp;&nbsp;&nbsp;I have a good understanding of how the web works, including concepts such as
        HTTP, APIs,
        and
        server-side
        programming. I've also worked with databases like MySQL and I'm familiar with Git for version control. <br>
        &nbsp;&nbsp;&nbsp;I'm excited to continue to learn and grow as a web developer, and I'm always looking for new
        opportunities to
        expand
        my skills and knowledge.
    </div>
    <div class="skill-main">
        <div class="skill-bar">
            <div class="info">
                <p>HTML5</p>
                <p class="percent">90%</p>
            </div>
            <div class="bar">
                <span class="html"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>Css</p>
                <p class="percent">85%</p>
            </div>
            <div class="bar">
                <span class="css"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>Bootstrap</p>
                <p class="percent">70%</p>
            </div>
            <div class="bar">
                <span class="bootstrap"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>JavaScript</p>
                <p class="percent">85%</p>
            </div>
            <div class="bar">
                <span class="javascript"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>jQuery</p>
                <p class="percent">60%</p>
            </div>
            <div class="bar">
                <span class="jquery"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>Typescript</p>
                <p class="percent">75%</p>
            </div>
            <div class="bar">
                <span class="typescript"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>Angular</p>
                <p class="percent">95%</p>
            </div>
            <div class="bar">
                <span class="angular"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>MongoDB</p>
                <p class="percent">88%</p>
            </div>
            <div class="bar">
                <span class="mongoDB"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>Node Js</p>
                <p class="percent">90%</p>
            </div>
            <div class="bar">
                <span class="nodejs"></span>
            </div>
        </div>
        <div class="skill-bar">
            <div class="info">
                <p>Express Js</p>
                <p class="percent">75%</p>
            </div>
            <div class="bar">
                <span class="expressjs"></span>
            </div>
        </div>
    </div>

</section>